body {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
.instructions {
    width: max-content;
    background-color: #4EBAC4;
    color: white;
    margin: 0 auto;
}

.instructions h1 {
    padding: 20px; /* Adjust the padding as needed */
}

#board {
    /* background-color: skyblue; */
    background-image: url("flappybirdbg.png");
}

@font-face {
    font-family: 'CustomFont';
    src: url("/font/font.ttf") format('truetype');
}

footer {
    text-align: center;
  }
  
footer p { 
    font-weight: bold;
    font-size: 16px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}  

@media only screen and (max-width: 600px) {

    footer p {
        font-size: 14px;
    }

    footer a {
        font-size: 12px;
    }
}